<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Style.css">
</head>
<body>

    <ul>
        <li><a class="active" href="Home.html">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="Record.html">Past Records</a></li>
    </ul>


    <h2>Past order records</h2>

    <table style="width:100%">
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Name</th>
            <th>Location</th>
            <th>Items Ordered</th>
            <th>Sum Total</th>
            <th>Order Status</th>
        </tr>
        <tr>
            <td>ABC Order-1</td>
            <td>26/4/2022</td>
            <td>John Tan</td>
            <td>Fortune Centre 190 Middle Road #02-24</td>
            <td>
                Item 1 <br>
                Item 3
            </td>
            <td>$23.78</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>ABC Order-2</td>
            <td>26/4/2022</td>
            <td>Brandon Ling</td>
            <td>6001 BEACH RD 02-14 GOLDEN MILE TOWER</td>
            <td>
                Item 1 <br>
                Item 2 <br>
                Item 5 <br>
                Item 8
            </td>
            <td>$47.23</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>ABC Order-3</td>
            <td>26/4/2022</td>
            <td>James Wong</td>
            <td>Blk 3 Upper Pickering Street 05-27</td>
            <td>
                Item 3 <br>
                Item 4 <br>
                Item 9 <br>
                Item 10
            </td>
            <td>$54.83</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>ABC Order-4</td>
            <td>26/4/2022</td>
            <td>Jayce Ong</td>
            <td>171 Tras St #05-173 Union Bldg S()</td>
            <td>
                Item 2 <br>
                Item 6 <br>
                Item 7
            </td>
            <td>$38.75</td>
            <td>Completed</td>
        </tr>
    </table>
</body>
</html>